parameters:
    level: 10
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - tests/
    ignoreErrors:
        - 
            message: '#Method Hibla\\Promise\\Handlers\\AwaitHandler::await\(\) should return TValue but returns TValue\|null#'
            path: src/Handlers/AwaitHandler.php